<!DOCTYPE html>
	<html xmlns:ng="http://angularjs.org" ng-app="paginationModule" lang="en">
	    <head>
	    	<meta charset="utf-8">
	    	<title>Test site</title>
	        <script src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
	        <!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="css/style.css">
			<style>
				.number {
					float: left;
					margin: 10px;
					border: 5px solid #fff;
					text-align: center;
					font-size: 12px;
					font-weight: 700;
					color: #000;
				 
				    -webkit-transition: box-shadow 0.5s ease;
				    -moz-transition: box-shadow 0.5s ease;
				    -o-transition: box-shadow 0.5s ease;
				    -ms-transition: box-shadow 0.5s ease;
				    transition: box-shadow 0.5s ease;
				}
			</style>
	    </head>
	    <body>
	    <div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Users from 1 to 1200</h3>
  			</div>
  			<div class="panel-body">
				<div ng-controller="PaginationController" class="col-md-6">
					<table>
						<thead>
							<th>First name | 
								Last name | 
								Address | 
								Email |</th>
						</thead>
						<tbody>
							<td ng-repeat="user in pagedData | limitTo:pageSize" class="list-group-item">
								{{user}}
							</td>
							<td></td>
							<td></td>
							<td></td>
						</tbody>
					</table>
					<button type="button" class="btn btn-primary btn-sm" ng-click="firstPage(0)">
 		    			First Page
 		    		</button>&nbsp;&nbsp
		    		<button type="button" class="btn btn-primary btn-sm" ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-10)">
 		    			Previous -100
 		    		</button>&nbsp;&nbsp
		    		<button type="button" class="btn btn-primary btn-sm" ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-1)">
		    			Previous
		    		</button>&nbsp;&nbsp;
		    		<button type="button" class="btn btn-primary btn-sm" ng-disabled="pageButtonDisabled(1)" ng-click="paginate(1)">
		    			Next
		    		</button>&nbsp;&nbsp;
		    		<button type="button" class="btn btn-primary btn-sm" ng-disabled="pageButtonDisabled(10)" ng-click="paginate(10)">
		    			Next +100
		    		</button>
		    		<button type="button" class="btn btn-primary btn-sm" ng-click="lastPage(119)">
 		    			Last Page
 		    		</button>&nbsp;&nbsp
		    		<br/><br/>
		    		<p class="number">Page {{currentPage+1}} of {{totalPages}}</p>
				</div>
			</div>
		</div>
			<script>
				var app = angular.module('paginationModule', []);

				app.controller('PaginationController', function($scope, dataFactory) {
				    $scope.currentPage = 0;
				    $scope.pageSize = 10;
				    $scope.totalPages = 0;
				    $scope.pagedData = [];

				$scope.firstPage = function(firstPage) {
					$scope.currentPage = firstPage;
					$scope.pagedData = dataFactory.data.slice($scope.firstPage);
				}

				$scope.lastPage = function(lastPage) {
					$scope.currentPage = lastPage;
					$scope.pagedData = dataFactory.data.slice($scope.currentPage*$scope.pageSize);
				}

				$scope.pageButtonDisabled = function(dir) {
				    if (dir == -1) {
				        return $scope.currentPage == 0;
				    }
				    return $scope.currentPage >= dataFactory.data.length/$scope.pageSize - 1;
				}

				$scope.paginate = function(nextPrevMultiplier) {
				    $scope.currentPage += (nextPrevMultiplier * 1);
				    $scope.pagedData = dataFactory.data.slice($scope.currentPage*$scope.pageSize);
				}

				function init() {
				    $scope.totalPages = Math.ceil(dataFactory.data.length/$scope.pageSize);
				    $scope.pagedData = dataFactory.data;
				}

				init();

				});

				app.factory('dataFactory', function() {
				    var factory = {};
				    factory.data = [];

				    function init() {
				        for (var i = 1; i <= 1200; i ++) {
				            factory.data.push("first name"+ i + ": " + "last name"+ i + ": " + "address"+ i + ": " + "email" + i);
				        }
				    }

				    init();

				    return factory;
				});
			</script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    </body>
	</html>